{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Robot Tutor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="{%  static  'codemirror/lib/codemirror.js' %}"></script>
    <link href="{%  static  'codemirror/lib/codemirror.css' %}" rel="stylesheet" />
    <script src="{%  static  'codemirror/mode/xml/xml.js' %}"></script>
    <link href="{%  static  'codemirror/theme/material.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-default" style="background-color: #325f5e;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand"  href="" style="font-family:courier; font-size: 25px; text-align: center; color: #ffffff"><strong>Remote Robot Tutor</strong></a>
                </div>
                <div class="col-md-auto">
                    <a class="nav-item nav-link" href="{% url 'index' %}" style="color: white; font-family:courier;font-size: 19px;text-align: center;margin-left: 1px;"><strong>Robot</strong></a>
                </div>
                <div class="col col-lg-2">
                    <a class="nav-item nav-link" href="{% url 'simulator' %}" style="color: white; font-family:courier;font-size: 19px;text-align: center;"><strong>Simulator</strong></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">


            <div class="row">
            <canvas id="myCanvas" width="410" height="410"></canvas>

                <div class="col">
                <p style="font-family:courier; font-size: 25px; text-align: center;"> <b>Find the shortest path to the destination </b></p>
                <p id="victory" style="font-family:courier; font-size: 25px; text-align: center;text-align-all: center;"></p>
                </div>
            </div>



        <div class="row">

        <a href="{% url 'simulator' %}">
            <button class="btn btn-info" id="back" name="back" style="margin-left: 10px; margin-right: 10px; margin-top: 2px">< Back</button></a>

        <button class="btn btn-info" id="reset_map" name="reset_map" onclick="resetMap()" style="margin-left: 10px; margin-right: 10px; margin-top: 2px">Reset Map</button>

        <form action="" onsubmit="" method="POST">
            {% csrf_token %}

            <button class="btn btn-info" id="id_new_map" name="new_map" style="margin-left: 10px; margin-top: 2px">New Map</button>

            <label for="red_squares" style="margin-left: 100px;font-weight:bold; font-family:courier">Number of red squares:</label>
            <select id="red_squares" name="red_squares" style="font-family:courier">
                 <option value="0" {% if red_size == 0 %}selected{% endif %}>0</option>
                 <option value="1" {% if red_size == 1 %}selected{% endif %}>1</option>
                 <option value="2" {% if red_size == 2 %}selected{% endif %}>2</option>
                 <option value="3" {% if red_size == 3 %}selected{% endif %}>3</option>
                 <option value="4" {% if red_size == 4 %}selected{% endif %}>4</option>
                 <option value="5" {% if red_size == 5 %}selected{% endif %}>5</option>
                 <option value="6" {% if red_size == 6 %}selected{% endif %}>6</option>
                 <option value="7" {% if red_size == 7 %}selected{% endif %}>7</option>
                 <option value="8" {% if red_size == 8 %}selected{% endif %}>8</option>
                 <option value="9" {% if red_size == 9 %}selected{% endif %}>9</option>
             </select>
        </form>
        </div>

        <br>

        <form action="" onsubmit="" method="POST">
            {% csrf_token %}

        <div class="p-3">



            <textarea id="terminal" name="terminal" placeholder="/Enter Your Code..." >{{ enter_code }}{{ code }}</textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById('terminal'), {
                    lineNumbers: true,
                    gutter: true,
                    lineWrapping: true,
                    theme: 'material',
                    mode: 'xml',
                });
                editor.setSize(null, null);
            </script>
        </div>

        <div class="p-3">
            <button class="btn btn-info" type="Submit" id="id_submit_code" name="submit_code">Run Code</button>

        <div class="p-3">
            <br />
            <div class="row">
                <div class="col">
            <textarea id="error_terminal" name="error_terminal" disabled>{{ output_terminal }}{{ message }}</textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById('error_terminal'), {
                    lineNumbers: false,
                    gutter: true,
                    lineWrapping: true,
                    theme: 'material',
                    mode: 'xml',
                    readOnly: true,
                });
                editor.setSize(null, null);
            </script>
                </div>
                <div class="col">
            <textarea id="instructions" name="instructions" disabled>Commands:

Forward | forward | F | f

TurnRight | turnright | Turn Right | turn right | Right | right | R | r

TurnLeft | turnleft | Turn Left | turn left | Left | left | L | l

Backward | backward | B | b

//Comment

Loop:

Repeat (number) | repeat (number) | W (number) | w (number)
//Command
End | end | E | e

Example:

Repeat 2
Forward
TurnRight
End</textarea>

            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById('instructions'), {
                    lineNumbers: false,
                    gutter: true,
                    lineWrapping: true,
                    theme: 'material',
                    mode: 'xml',
                    readOnly: true,
                });
                editor.setSize(null, null);
            </script>
                </div>
            </div>
        </div>


            <script>



                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById("robo_image");
                var terminal = document.getElementById("victory");

                let code ="{{ result }}";
                let wait = false;
                let queue = [];

                console.log("{{ initialX }}")
                console.log("{{ initialY }}")

                coord = [10, 78, 146, 214, 282, 350];

                let initialX = parseInt("{{ initialX }}");
                let initialY = parseInt("{{ initialY }}");

                let r = new Image();
                  r.onload = function() {
                    ctx.drawImage(r, initialX, initialY);
                    ctx.beginPath();
                    ctx.stroke();
                  };
                  r.src = "{% static "robot-east.png" %}";


                let yellowX = parseInt("{{ yellowX }}");
                let yellowY = parseInt("{{ yellowY }}");


                let redX = {{ red_x }};
                let redY = {{ red_y }};

                let minEnd = 10;
                let maxEnd =350;
                let done = false;


                function resetMap() {

                  done = false;
                  queue = [];
                  wait = false;
                  code = "";
                  ctx.clearRect(0,0,innerWidth,innerHeight);
                  rx = initialX;
                  ry = initialY;



                  r.src = "{% static "robot-east.png" %}";

                    ctx.drawImage(r, initialX, initialY);
                    ctx.beginPath();
                    ctx.stroke();
                  drawMap();

                  terminal.value = "";
                  terminal.innerText = "";
                  terminal.innerHTML = "";

                  console.log("reset map")

                }


                function drawMap() {
                    for (let i = 10; i < 391; i+=68) {
                        for (let j = 10; j < 391; j += 68) {
                            ctx.beginPath();
                            ctx.rect(i, j, 50, 50);
                            ctx.fillStyle = "#2DB46E";{#"#FF0000";#}
                            ctx.fill();
                            ctx.globalCompositeOperation = 'source-over';
                            ctx.closePath();
                        }
                    }
                    ctx.beginPath();
                    ctx.rect(yellowX, yellowY, 50, 50);
                    ctx.fillStyle = "yellow";
                    ctx.fill();
                    ctx.globalCompositeOperation = 'source-over';
                    ctx.closePath();

                    for (let k = 0; k < redX.length; k++) {
                        ctx.beginPath();
                        ctx.rect(redX[k], redY[k], 50, 50);
                        ctx.fillStyle = "red";
                        ctx.fill();
                        ctx.globalCompositeOperation = 'source-over';
                        ctx.closePath();
                    }

                }

                drawMap()
                let rx = initialX;
                let ry = initialY;
                let direction = "east";
                let increment = 1;

                if (code === "") {
                    console.log("here");
                }

                function delay(time) {
                  return new Promise(resolve => setTimeout(resolve, time));
                }

                async function forward() {
                    requestAnimationFrame(forward);
                    ctx.clearRect(0,0,innerWidth,innerHeight)
                    drawMap()

                    ctx.drawImage(r, rx, ry);
                    ctx.beginPath();
                    ctx.stroke();

                    let redBlock = false;


                    if (front === true) {
                        if (direction === "east") {
                        if (increment < 70) {
                            console.log(increment);
                            console.log(rx, ry);
                            if (rx < maxEnd) {
                                console.log(rx);
                                console.log(redY)
                                for (let i= 0; i<redY.length; i++){
                                            console.log(redY[i])
                                            if (Math.abs(redY[i]-ry)<10) {

                                                if (Math.abs(redX[i]-rx)<68) {
                                                    redBlock = true;
                                                }

                                            }
                                        }

                                        console.log(redBlock);
                                if (redBlock === false) {
                                    rx += 1;
                                } else {
                                            increment = 69;
                                        }
                            }
                            increment += 1;
                            } else {
                            wait = false
                            }
                        } else {
                            if (direction === "south") {
                                if (increment < 70) {
                                    if (ry < maxEnd) {
                                        for (let i= 0; i<redX.length; i++){
                                            if (Math.abs(redX[i]-rx)<10) {
                                                if (Math.abs(redY[i]-ry)<68) {
                                                    redBlock = true;
                                                }

                                            }
                                        }

                                        if (redBlock === false) {
                                            ry += 1;
                                        } else {
                                            increment = 69;
                                        }

                                    }
                                    increment += 1;
                                } else {
                                    wait = false
                                    }
                            } else {
                                if (direction === "west") {
                                    if (increment < 70) {
                                        if (rx > minEnd) {
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<10) {
                                                    if (Math.abs(redX[i]-rx)<68) {
                                                        redBlock = true;
                                                    }

                                                }
                                            }

                                    if (redBlock === false) {
                                        rx -= 1;
                                    } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    }  else {
                                        wait = false
                                        }
                                } else {
                                    if (increment < 70) {
                                        if (ry > minEnd) {
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<10) {
                                                    if (Math.abs(redY[i]-ry)<68) {
                                                        redBlock = true;
                                                    }

                                                }
                                            }

                                            if (redBlock === false) {
                                                ry -= 1;
                                            } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    } else {
                                        wait = false
                                        }
                                }
                            }
                    }
                    } else {
                        if (direction === "west") {
                        if (increment < 70) {
                            if (rx < maxEnd) {
                                for (let i= 0; i<redY.length; i++){
                                            if (Math.abs(redY[i]-ry)<10) {
                                                if (Math.abs(redX[i]-rx)<68) {
                                                    redBlock = true;
                                                }

                                            }
                                        }

                                if (redBlock === false) {
                                    rx += 1;
                                } else {
                                            increment = 69;
                                        }
                            }
                            increment += 1;
                            } else {
                            wait = false
                            }
                        } else {
                            if (direction === "north") {
                                if (increment < 70) {
                                    if (ry < maxEnd) {
                                        for (let i= 0; i<redX.length; i++){
                                            if (Math.abs(redX[i]-rx)<10) {
                                                if (Math.abs(redY[i]-ry)<68) {
                                                    redBlock = true;
                                                }
                                                {#redBlock = true;#}
                                            }
                                        }

                                        if (redBlock === false) {
                                            ry += 1;
                                        } else {
                                            increment = 69;
                                        }
                                    }
                                    increment += 1;
                                } else {
                                    wait = false
                                    }
                            } else {
                                if (direction === "east") {
                                    if (increment < 70) {
                                        if (rx > minEnd) {
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<10) {
                                                    if (Math.abs(redX[i]-rx)<68) {
                                                        redBlock = true;
                                                    }

                                                }
                                            }

                                    if (redBlock === false) {
                                        rx -= 1;
                                    } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    }  else {
                                        wait = false
                                        }
                                } else {
                                    if (increment < 70) {
                                        if (ry > minEnd) {
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<10) {
                                                    if (Math.abs(redY[i]-ry)<68) {
                                                        redBlock = true;
                                                    }

                                                }
                                            }

                                            if (redBlock === false) {
                                                ry -= 1;
                                            } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    } else {
                                        wait = false
                                        }
                                }
                            }
                    }
                    }

                    await delay(10000);

                }


                function turnRight() {
                    requestAnimationFrame(move);
                    {#getUnitTime(2000);#}
                    if (wait === true) {
                        if (direction === "east") {
                                r.src = "{% static "robot-south.png" %}";
                                direction = "south";
                            } else {
                                if (direction === "south") {
                                    r.src = "{% static "robot-west.png" %}";
                                    direction = "west";
                                } else {
                                    if (direction === "west") {
                                        r.src = "{% static "robot-north.png" %}";
                                        direction = "north";
                                    } else {
                                        r.src = "{% static "robot-east.png" %}";
                                        direction = "east";
                                    }
                                }
                            }
                    }
                    wait = false;

                }

                function turnLeft() {
                    requestAnimationFrame(move);
                    {#getUnitTime(2000);#}
                    if (wait === true) {
                        if (direction === "east") {
                                r.src = "{% static "robot-north.png" %}";
                                direction = "north";
                            } else {
                                if (direction === "south") {
                                    r.src = "{% static "robot-east.png" %}";
                                    direction = "east";
                                } else {
                                    if (direction === "west") {
                                        r.src = "{% static "robot-south.png" %}";
                                        direction = "south";
                                    } else {
                                        r.src = "{% static "robot-west.png" %}";
                                        direction = "west";
                                    }
                                }
                            }
                    }
                    wait = false;

                }

                if (code === "") {
                    console.log("here");
                } else {
                    console.log(code)
                    for (let i = 0; i < code.length; i++) {
                        if (code.charAt(i) === 'f' || code.charAt(i) === 'r' || code.charAt(i) === 'l' || code.charAt(i) === 'b') {
                            queue.push(code.charAt(i))
                        }

                    }
                    console.log(queue)
                }

                let front = true;

                function move() {
                    if (done === false) {
                        requestAnimationFrame(move);

                        if (increment === 70) {

                            let minDistX = 900;
                            let minDistY = 900;
                            let minX = 0;
                            let minY = 0;
                            for (let i = 0; i < coord.length; i++) {
                                if (Math.abs(rx - coord[i]) < minDistX) {
                                    minX = coord[i];
                                    minDistX = Math.abs(rx - coord[i]);
                                }
                                if (Math.abs(ry - coord[i]) < minDistY) {
                                    minY = coord[i];
                                    minDistY = Math.abs(ry - coord[i]);
                                }
                            }
                            rx = minX;
                            ry = minY;
                        }

                        if (wait === false) {
                            wait = true;

                            let e = queue.shift();
                            if (e === 'f') {
                                front = true;
                                increment = 1;
                                console.log('for')
                                forward();
                                {#console.log(rx,ry)#}
                                {#if (increment === 70) {increment = 1}#}


                            }
                            if (e === 'r') {
                                turnRight();
                            }

                            if (e === 'l') {
                                turnLeft();
                            }

                            if (e === 'b') {
                                front = false;
                                increment = 1;
                                console.log('back');
                                forward();
                                {#backward();#}
                                {#if (increment === 70) {increment = 1}#}


                            }
                            if (queue.length === 0 && increment === 70) {
                                if (Math.abs(yellowX - rx) < 10 && Math.abs(yellowY - ry) < 10 && done === false) {
                                    done = true;
                                    console.log("aYou have reached the destination!");
                                    terminal.value = "You have reached the destination!";
                                    terminal.innerText = "You have reached the destination!";
                                    terminal.innerHTML = "You have reached the destination!";
                                    terminal.innerHTML += "<br>Shortest path: {{ short_path }}";
                                    terminal.innerHTML += "<br>Your path: {{ path }}";
                                    if ({{ short_path }} ===
                                    {{ path }})
                                    {
                                        terminal.innerHTML += "<br>You have found the shortest path";
                                    }
                                else
                                    {
                                        terminal.innerHTML += "<br>You have not found the shortest path";
                                    }


                                } else {
                                    if (done === false) {
                                        done = true;
                                        console.log("You have not reached the destination...");
                                        terminal.value = "You have not reached the destination...";
                                        terminal.innerText = "You have not reached the destination...";
                                        terminal.innerHTML = "You have not reached the destination...";
                                    }
                                }
                            }

                        }
                    }
                }

                if (queue.length !== 0){
                    move();
                }


            </script>

        </div>
    </div>
</body>
</html>