{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Robot Tutor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="{%  static  'codemirror/lib/codemirror.js' %}"></script>
    <link href="{%  static  'codemirror/lib/codemirror.css' %}" rel="stylesheet" />
    <script src="{%  static  'codemirror/mode/xml/xml.js' %}"></script>
    <link href="{%  static  'codemirror/theme/material.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-default" style="background-color: #325f5e;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand"  href="" style="font-family:courier; font-size: 25px; text-align: center; color: #ffffff"><strong>Remote Robot Tutor</strong></a>
                </div>
                <div class="col-md-auto">
                    <a class="nav-item nav-link" href="{% url 'index' %}" style="color: white; font-family:courier;font-size: 19px;text-align: center;"><strong>Robot</strong></a>
                </div>
                <div class="col col-lg-2">
                    <a class="nav-item nav-link" href="{% url 'simulator' %}" style="color: white; font-family:courier;font-size: 19px;text-align: center;"><strong>Simulator</strong></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="" onsubmit="" method="POST">
            {% csrf_token %}

            <canvas id="myCanvas" width="480" height="480"></canvas>

            <script>
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById("robo_image")

                let code ="{{ result }}";
                let wait = false;
                var queue = [];

                {#var robot = new Image();#}
                {#var src = "{% static "robot.png" %}"#}
                {#robot.src = "{% static "robot.png" %}";#}
                {#robot.onload = function(){#}
                {#    var pattern = ctx.createPattern(this, "repeat");#}
                {#    ctx.fillStyle = pattern;#}
                {#    ctx.arc(35, 35, 20, 0, Math.PI*2, false);#}
                {#    ctx.fill();#}
                {# };#}


                var r = new Image();
                  r.onload = function() {
                    ctx.drawImage(r, 10, 10);
                    ctx.beginPath();
                    ctx.stroke();
                  };
                  r.src = "{% static "robot-east.png" %}";


                let yellowX = 350;
                let yellowY = 350;

                let redX = [78, 78, 214];
                let redY = [10, 214, 146];

                let minEnd = 10;
                let maxEnd =350;
                let done = false;


                function drawMap() {
                    for (let i = 10; i < 391; i+=68) {
                        for (let j = 10; j < 391; j += 68) {
                            ctx.beginPath();
                            ctx.rect(i, j, 50, 50);
                            ctx.fillStyle = "#2DB46E";{#"#FF0000";#}
                            ctx.fill();
                            ctx.globalCompositeOperation = 'source-over';
                            ctx.closePath();
                        }
                    }
                    ctx.beginPath();
                    ctx.rect(yellowX, yellowY, 50, 50);
                    ctx.fillStyle = "yellow";
                    ctx.fill();
                    ctx.globalCompositeOperation = 'source-over';
                    ctx.closePath();

                    for (let k = 0; k < redX.length; k++) {
                        ctx.beginPath();
                        ctx.rect(redX[k], redY[k], 50, 50);
                        ctx.fillStyle = "red";
                        ctx.fill();
                        ctx.globalCompositeOperation = 'source-over';
                        ctx.closePath();
                    }

                }

                drawMap()
                let rx = 10;
                let ry = 10;
                let direction = "east";
                let increment = 1;

                if (code === "") {
                    console.log("here");
                }

                function animate() {
                    requestAnimationFrame(animate);
                    ctx.clearRect(0,0,innerWidth,innerHeight)
                    drawMap()

                    ctx.drawImage(r, rx, ry);
                    ctx.beginPath();
                    {#ctx.rotate(90);#}
                    ctx.stroke();


                    if (rx == 80) {
                        r.src = "{% static "robot-south.png" %}";
                    }

                    if (rx < 80) {
                        rx += 1
                    } else {
                        if (ry < 80) {
                            ry += 1
                        }
                    }

                    {#ctx.beginPath();#}
                    {#ctx.arc(x, y, 20, 0, Math.PI*2, false);#}
                    {#ctx.fillStyle = "green";#}
                    {#ctx.fill();#}
                    {#ctx.stroke();#}
                    {##}
                    {#if (x < 105) {#}
                    {#    x += 1#}
                    {# } else {#}
                    {#    if (y < 105) {#}
                    {#        y += 1#}
                    {#    }#}
                    {# }#}

                }

                function delay(time) {
                  return new Promise(resolve => setTimeout(resolve, time));
                }

                async function forward() {
                    requestAnimationFrame(forward);
                    ctx.clearRect(0,0,innerWidth,innerHeight)
                    drawMap()

                    ctx.drawImage(r, rx, ry);
                    ctx.beginPath();
                    ctx.stroke();

                    let redBlock = false;


                    if (front === true) {
                        if (direction === "east") {
                        if (increment < 70) {
                            if (rx < maxEnd) {
                                for (let i= 0; i<redY.length; i++){
                                            if (Math.abs(redY[i]-ry)<10) {
                                                redBlock = true;
                                            }
                                        }
                                        if (redBlock) {
                                            redBlock = false;
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<80) {
                                                    redBlock = true;
                                                }
                                            }
                                        }
                                if (redBlock === false) {
                                    rx += 1;
                                } else {
                                            increment = 69;
                                        }
                            }
                            increment += 1;
                            } else {
                            wait = false
                            }
                        } else {
                            if (direction === "south") {
                                if (increment < 70) {
                                    if (ry < maxEnd) {
                                        for (let i= 0; i<redX.length; i++){
                                            if (Math.abs(redX[i]-rx)<10) {
                                                redBlock = true;
                                            }
                                        }
                                        if (redBlock) {
                                            redBlock = false;
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<80) {
                                                    redBlock = true;
                                                }
                                            }
                                        }
                                        if (redBlock === false) {
                                            ry += 1;
                                        } else {
                                            increment = 69;
                                        }

                                    }
                                    increment += 1;
                                } else {
                                    wait = false
                                    }
                            } else {
                                if (direction === "west") {
                                    if (increment < 70) {
                                        if (rx > minEnd) {
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<10) {
                                                    redBlock = true;
                                                }
                                            }
                                            if (redBlock) {
                                                redBlock = false;
                                                for (let i= 0; i<redX.length; i++){
                                                    if (Math.abs(redX[i]-rx)<80) {
                                                        redBlock = true;
                                                    }
                                                }
                                            }
                                    if (redBlock === false) {
                                        rx -= 1;
                                    } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    }  else {
                                        wait = false
                                        }
                                } else {
                                    if (increment < 70) {
                                        if (ry > minEnd) {
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<10) {
                                                    redBlock = true;
                                                }
                                            }
                                            if (redBlock) {
                                                redBlock = false;
                                                for (let i= 0; i<redY.length; i++){
                                                    if (Math.abs(redY[i]-ry)<80) {
                                                        redBlock = true;
                                                    }
                                                }
                                            }
                                            if (redBlock === false) {
                                                ry -= 1;
                                            } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    } else {
                                        wait = false
                                        }
                                }
                            }
                    }
                    } else {
                        if (direction === "west") {
                        if (increment < 70) {
                            if (rx < maxEnd) {
                                for (let i= 0; i<redY.length; i++){
                                            if (Math.abs(redY[i]-ry)<10) {
                                                redBlock = true;
                                            }
                                        }
                                        if (redBlock) {
                                            redBlock = false;
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<80) {
                                                    redBlock = true;
                                                }
                                            }
                                        }
                                if (redBlock === false) {
                                    rx += 1;
                                } else {
                                            increment = 69;
                                        }
                            }
                            increment += 1;
                            } else {
                            wait = false
                            }
                        } else {
                            if (direction === "north") {
                                if (increment < 70) {
                                    if (ry < maxEnd) {
                                        for (let i= 0; i<redX.length; i++){
                                            if (Math.abs(redX[i]-rx)<10) {
                                                redBlock = true;
                                            }
                                        }
                                        if (redBlock) {
                                            redBlock = false;
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<80) {
                                                    redBlock = true;
                                                }
                                            }
                                        }
                                        if (redBlock === false) {
                                            ry += 1;
                                        } else {
                                            increment = 69;
                                        }
                                    }
                                    increment += 1;
                                } else {
                                    wait = false
                                    }
                            } else {
                                if (direction === "east") {
                                    if (increment < 70) {
                                        if (rx > minEnd) {
                                            for (let i= 0; i<redY.length; i++){
                                                if (Math.abs(redY[i]-ry)<10) {
                                                    redBlock = true;
                                                }
                                            }
                                            if (redBlock) {
                                                redBlock = false;
                                                for (let i= 0; i<redX.length; i++){
                                                    if (Math.abs(redX[i]-rx)<80) {
                                                        redBlock = true;
                                                    }
                                                }
                                            }
                                    if (redBlock === false) {
                                        rx -= 1;
                                    } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    }  else {
                                        wait = false
                                        }
                                } else {
                                    if (increment < 70) {
                                        if (ry > minEnd) {
                                            for (let i= 0; i<redX.length; i++){
                                                if (Math.abs(redX[i]-rx)<10) {
                                                    redBlock = true;
                                                }
                                            }
                                            if (redBlock) {
                                                redBlock = false;
                                                for (let i= 0; i<redY.length; i++){
                                                    if (Math.abs(redY[i]-ry)<80) {
                                                        redBlock = true;
                                                    }
                                                }
                                            }
                                            if (redBlock === false) {
                                                ry -= 1;
                                            } else {
                                                increment = 69;
                                            }
                                        }
                                        increment += 1;
                                    } else {
                                        wait = false
                                        }
                                }
                            }
                    }
                    }

                    await delay(10000);





                    {#ctx.beginPath();#}
                    {#ctx.arc(x, y, 20, 0, Math.PI*2, false);#}
                    {#ctx.fillStyle = "green";#}
                    {#ctx.fill();#}
                    {#ctx.stroke();#}
                    {##}
                    {#if (x < 105) {#}
                    {#    x += 1#}
                    {# } else {#}
                    {#    if (y < 105) {#}
                    {#        y += 1#}
                    {#    }#}
                    {# }#}
                }

                function backward() {
                    requestAnimationFrame(backward);
                    ctx.clearRect(0,0,innerWidth,innerHeight)
                    drawMap()

                    ctx.drawImage(r, rx, ry);
                    ctx.beginPath();
                    ctx.stroke();

                    if (front === true) {
                        if (direction === "west") {
                        if (increment < 70) {
                            rx += 1
                            increment += 1
                            } else {
                            wait = false
                            }
                        } else {
                            if (direction === "north") {
                                if (increment < 70) {
                                    ry += 1
                                    increment += 1
                                } else {
                                    wait = false
                                    }
                            } else {
                                if (direction === "east") {
                                    if (increment < 70) {
                                        rx -= 1
                                        increment += 1
                                    }  else {
                                        wait = false
                                        }
                                } else {
                                    if (increment < 70) {
                                        ry -= 1
                                        increment += 1
                                    } else {
                                        wait = false
                                        }
                                }
                            }
                    }
                    }


                    console.log(rx,ry)


                    {# if (direction === "east") {#}
                    {#    if (increment < 70) {#}
                    {#        rx -= 1#}
                    {#        increment += 1#}
                    {#        } else {#}
                    {#        wait = false#}
                    {#        }#}
                    {#    } else {#}
                    {#        if (direction === "south") {#}
                    {#            if (increment < 70) {#}
                    {#                ry -= 1#}
                    {#                increment += 1#}
                    {#            } else {#}
                    {#                wait = false#}
                    {#                }#}
                    {#        } else {#}
                    {#            if (direction === "west") {#}
                    {#                if (increment < 70) {#}
                    {#                    rx += 1#}
                    {#                    increment += 1#}
                    {#                }  else {#}
                    {#                    wait = false#}
                    {#                    }#}
                    {#            } else {#}
                    {#                if (increment < 70) {#}
                    {#                    ry += 1#}
                    {#                    increment += 1#}
                    {#                } else {#}
                    {#                    wait = false#}
                    {#                    }#}
                    {#            }#}
                    {#        }#}
                    {# }#}




                    {#ctx.beginPath();#}
                    {#ctx.arc(x, y, 20, 0, Math.PI*2, false);#}
                    {#ctx.fillStyle = "green";#}
                    {#ctx.fill();#}
                    {#ctx.stroke();#}
                    {##}
                    {#if (x < 105) {#}
                    {#    x += 1#}
                    {# } else {#}
                    {#    if (y < 105) {#}
                    {#        y += 1#}
                    {#    }#}
                    {# }#}
                }

                {#function getUnitTime(duration){  // get the unit time#}
                {#        var unitTime = (globalTime - startTime) / duration;#}
                {#        if(unitTime >= 1){ // if over time#}
                {#             unitTime = 1; // make sure that the current frame is not over#}
                {#             startTime = startTime + duration; // next frame start (could be in the past)#}
                {#             currentAnim += 1;   // next animation in the list#}
                {#        }#}
                {#        return unitTime;#}
                {#    }#}

                function turnRight() {
                    requestAnimationFrame(move);
                    {#getUnitTime(2000);#}
                    if (wait === true) {
                        if (direction === "east") {
                                r.src = "{% static "robot-south.png" %}";
                                direction = "south";
                            } else {
                                if (direction === "south") {
                                    r.src = "{% static "robot-west.png" %}";
                                    direction = "west";
                                } else {
                                    if (direction === "west") {
                                        r.src = "{% static "robot-north.png" %}";
                                        direction = "north";
                                    } else {
                                        r.src = "{% static "robot-east.png" %}";
                                        direction = "east";
                                    }
                                }
                            }
                    }
                    wait = false;

                }

                function turnLeft() {
                    requestAnimationFrame(move);
                    {#getUnitTime(2000);#}
                    if (wait === true) {
                        if (direction === "east") {
                                r.src = "{% static "robot-north.png" %}";
                                direction = "north";
                            } else {
                                if (direction === "south") {
                                    r.src = "{% static "robot-east.png" %}";
                                    direction = "east";
                                } else {
                                    if (direction === "west") {
                                        r.src = "{% static "robot-south.png" %}";
                                        direction = "south";
                                    } else {
                                        r.src = "{% static "robot-west.png" %}";
                                        direction = "west";
                                    }
                                }
                            }
                    }
                    wait = false;

                }

                if (code === "") {
                    console.log("here");
                } else {
                    console.log(code)
                    for (let i = 0; i < code.length; i++) {
                        if (code.charAt(i) === 'f' || code.charAt(i) === 'r' || code.charAt(i) === 'l' || code.charAt(i) === 'b') {
                            queue.push(code.charAt(i))
                        }

                    }
                    console.log(queue)
                }

                let front = true;

                function move() {
                    requestAnimationFrame(move);
                    if (wait === false) {
                        wait = true;

                        let e = queue.shift();
                        if(e === 'f') {
                                front = true;
                                increment = 1;
                                console.log('for')
                                    forward();
                                {#console.log(rx,ry)#}
                                {#if (increment === 70) {increment = 1}#}


                            }
                            if(e === 'r') {
                                turnRight();
                            }

                            if(e === 'l') {
                                turnLeft();
                            }

                            if(e === 'b') {
                                front = false;
                                increment = 1;
                                console.log('back');
                                forward();
                                {#backward();#}
                                {#if (increment === 70) {increment = 1}#}


                            }
                            if (queue.length === 0) {
                                if (Math.abs(yellowX-rx)<10 && Math.abs(yellowY-ry)<10 && done === false) {
                                    console.log("You have reached the destination!");
                                    done = true;
                                }
                            }
                            {#console.log(rx,ry);#}
                            {#console.log(queue.length);#}


                    }

                }

                if (queue.length !== 0){
                    move();
                }


            </script>
        <div class="p-3">
            <textarea id="terminal" name="terminal" placeholder="/Enter Your Code..." >{{ enter_code }}{{ code }}</textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById('terminal'), {
                    lineNumbers: true,
                    gutter: true,
                    lineWrapping: true,
                    theme: 'material',
                    mode: 'xml',
                });
                editor.setSize(null, null);
            </script>
        </div>

        <div class="p-3">
            <button class="btn btn-info" type="Submit" id="id_submit_code" name="submit_code">Run Code</button>

        <div class="p-3">
            <br /> <br />
            <textarea id="error_terminal" name="error_terminal" disabled>{{ output_terminal }}{{ message }}</textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById('error_terminal'), {
                    lineNumbers: false,
                    gutter: true,
                    lineWrapping: true,
                    theme: 'material',
                    mode: 'xml',
                });
                editor.setSize(null, null);
            </script>
        </div>

        </div>
    </div>
</body>
</html>